@font-face {
    font-weight: 400;
    font-family: "GraphikLCG";
    src: url("../fonts/GraphikLCG-Regular.ttf");
}

@font-face {
    font-weight: 500;
    font-family: "GraphikLCG";
    src: url("../fonts/GraphikLCG-Semibold.ttf");
}

html, body {
    font-family: 'GraphikLCG';
}
:root {
    /* color */
    --color-white: #fff;
    --color-black: #000;
    --color-ccc: #ccc;
    --color-orange: #FF6336;
    --color-transparent-black: rgba(0, 0, 0, 0.50);
    --color-pink: #FF9C7D;
    --color-lightgray: #FFF8E4;
    --color-blue: #C9E8F2;
    --color-pancho: #DABC98;

    /* font-size */
    --fs-15: 15px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-35: 35px;
    --fs-h1: 65px;
    --fs-h2: 50px;
    --fs-h3: 30px;
    --fs-h4: 25px;

    /* font-weight */
    --fw-normal: 400;
    --fw-600: 500;
}

.flex {
    display: flex;
}

.ai-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.fd-column {
    flex-direction: column;
}

.jc-sb {
    justify-content: space-between;
}

.jc-sa {
    justify-content: space-around;
}

.ta-center {
    text-align: center;
}

.wrapper {
    margin: 0 auto;
    max-width: 1290px;
    padding: 0px 20px;
}

.fullpage {
    min-height: 100vh;
}

.nav-back {
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-ccc);
}

nav {
    gap: 20px 0px;
    padding: 25px 0px;
}

.left-nav-side {
    gap: 20px 50px;
}

.logo img {
    max-width: 130px;
    height: auto;
    object-fit: cover;
}

.nav-links {
    gap: 10px 40px;
}

.nav-link{
    color: var(--color-black);
    font-size: var(--fs-15);
    font-weight: var(--fw-normal);
    transition: all 0.1s;
    padding: 10px 10px;
}

.nav-link:hover {
    color: #505050;
}

.buttons {
    gap: 10px 10px;
}

.btn-1 {
    text-align: center;
    min-width: 120px;
    color: var(--color-black);
    font-size: var(--fs-16);
    font-weight: var(--fw-600);
    padding: 15px 0px;
    background-color: var(--color-white);
    border: 1px solid var(--color-transparent-black);
    transition: all 0.1s;
}

.btn-1:hover {
    border: 1px solid var(--color-black);
}

.btn-2 {
    text-align: center;
    min-width: 120px;
    color: var(--color-white);
    font-size: var(--fs-16);
    font-weight: var(--fw-600);
    padding: 15px 0px;
    background-color: var(--color-orange);
    transition: all 0.1s;
}

.btn-2:hover {
    background-color: #ff4411;
}

.main-back {
    background-color: var(--color-white);
    flex-grow: 1;
}

.main-object {
    padding: 30px 20px;
    inline-size: -webkit-fill-available;
}

.main-content {
    max-width: 550px;
}

.gap-70 {
    gap: 70px;
}

.gap-50 {
    gap: 50px;
}

.gap-20 {
    gap: 20px;
}

.main-content h1 {
    line-height: 70px;
    color: var(--color-black);
    font-size: var(--fs-h1);
    font-weight: var(--fw-600);
}

.main-content p {
    color: var(--color-black);
    font-size: var(--fs-h4);
    font-weight: var(--fw-normal);
}

.main-content .buttons .btn-1, .btn-2 {
    min-width: 160px;
}

.text {
    color: var(--color-black);
    font-size: var(--fs-15);
    font-weight: var(--fw-normal);
}

.main-object img {
    width:100%;
    object-fit:cover;
}

.companies {
    background-color: var(--color-pink);
    padding: 100px 0px;
}

.companies .wrapper {
    gap: 70px;
}

h2 {
    color: var(--color-black);
    font-size: var(--fs-h2);
    font-weight: var(--fw-600);
}

.companies h2 {
    max-width: 720px;
    text-align: center;
}

.companies ul {
    width: 100%;
    gap: 20px;
}

.companies ul li{
    transition: all 0.2s;
}

.companies ul li:hover {
    transform:translate(0, -5px);
}

.companies img {
    max-width: 150px;
    object-fit: cover;
}

.bg-lightgray {
    background-color: var(--color-lightgray);
    padding: 120px 0px 90px 0px;
}

.bg-lightgray ul {
    gap: 60px 110px;
    width: 100%;
}

.bg-lightgray h2{
    padding: 20px 0px 60px 0px;
}

.card {
    gap: 20px;
    text-align: center;
    max-width: 300px;
}

h4 {
    color: var(--color-black);
    font-size: var(--fs-h4);
    font-weight: var(--fw-600);
}

.card img {
    max-width: 160px;
    object-fit: cover;
}

.card p {
    color: var(--color-black);
    font-size: var(--fs-18);
    font-weight: var(--fw-normal);
}

.bg-white {
    padding: 130px 0px 100px 0px;
}

.bg-white h2 {
    padding: 20px 0px;
}

.big-card {
    padding: 20px 10px;
    max-width: 400px;
    height: 100%;
}

.big-card img {
    max-height: 150px;
    object-fit: cover;
}

h3 {
    color: var(--color-black);
    font-size: var(--fs-h3);
    font-weight: var(--fw-600);
}

.big-card h3 {
    padding: 50px 0px 34px 0px;
}

.big-card p {
    font-size: var(--fs-20);
    padding-bottom: 25px;
}

.big-card a {
    color: var(--color-black);
    font-size: var(--fs-20);
    text-decoration: underline;
}

.big-card a:hover {
    text-decoration: none;
}

.bg-blue {
    padding: 60px 0px 100px 0px;
    background-color: var(--color-blue);
}

.bg-blue h3 {
    max-width: 900px;
    padding-bottom: 50px;
    font-weight: var(--fw-normal);
}

.bg-blue .text {
    padding-bottom: 10px;
}

.bg-pancho {
    background-color: var(--color-pancho);
    padding: 90px 0px 85px 0px;
}

.bg-pancho h3 {
    font-size: var(--fs-35);
    max-width: 460px;
}

.rating {
    padding: 0 70px;
    border-left: 1px solid var(--color-black);
}

